body {
    font-size: calc(0.38vw + 0.38vh + 0.38vmin);
}

.header {
    background-color: rgb(255, 255, 255);
    color: rgb(10, 2, 2);
    padding-left: 0px;
}

.container {
    width: 70vw;
    min-height: 100vh;
}

.row {
    margin-bottom: 0;
}

.fullLength {
    min-height: 100%;
}

input[type="text"]:not(.browser-default) {
    width: 100%;
    border-bottom: 0px;
    margin-bottom: 10px;
    font-size: 1.7em;
}

.card {
    height: 300px;
    overflow: hidden;
}

.card-content {
    font-size: 0.85em;
    color: rgb(64, 189, 189);
}

.card .card-content {
    padding: 22px;
}

.detailCard {
    min-height: 55vh;
}

.search {
    background-color: white;
}

.main {
    background-color: rgb(231, 230, 230);
    padding-top: 10px;
    padding-left: 20px;
    min-height: 55vh;
}

.nav-wrapper {
    background-color: rgb(112, 173, 173);
    max-height: 64px;
    padding-left: 7px;
    padding-right: 10px;
}

img {
    border-radius: 5px;
    max-width: 100%;
}

.recipe {
    padding-left: 20px;
    min-height: 50vh;
}

.detImg {
    margin-top: 20px;
    margin-bottom: 20px;
}

.material-icons {
    color: rgb(112, 173, 173);
}

.white-icon {
    color: white;
}

.banner {
    max-width: 100%;
    margin-bottom: -6px;
    border-radius: 0px;
}

button,
button:active,
button:visited {
    border: 0px;
    background-color: transparent;
}

.waves-effect.waves-light.btn {
    background-color: rgb(112, 173, 173);
    font-size: 0.80em;
}

nav .brand-logo {
    font-size: 1.6em;
}