
.header {
  background-color: rgb(255, 255, 255);
  color: rgb(10, 2, 2);
  padding-left: 0px;
}

.container {
  width: 100vw;
  min-height: 100vh; 
}

.row {
  margin-bottom: 0;
}

.main,
.sidebar {
  min-height: 100%;
}

.fullLength {
  min-height: 100%;
}

input[type="text"]:not(.browser-default){
  width: 100%;
  border-bottom: 0px;
  margin-bottom: 10px;
  font-size: 1.7em;
}

.card {
  height: 300px;
  overflow: hidden;
}

.card-content {
  font-size: 0.85em;
  color: rgb(64, 189, 189);
}

.search {
  background-color: white;
}

.main {
  background-color: rgb(224, 221, 221);
  padding-top: 10px;
  padding-left: 20px;
  min-height: 100%;
}

nav,
.nav-wrapper {
  background-color: rgb(112, 173, 173);
  max-height: 60px;
  padding-left: 7px;
  padding-right: 10px;
}

img {
  border-radius: 5px;
}

.footer {
  background-color: grey;
}

.recipe {
  padding-left: 20px;
  min-height: 50vh;
}

.detImg {
  margin: 20px;
}

.material-icons {
  color: rgb(112, 173, 173);
}

.banner {
  max-width: 100%;
  margin-bottom: -6px;
  border-radius: 0px;
}
button,
button:active,
button:visited {
  border: 0px;
  background-color: transparent;
}